body {
    background-color: lightblue;
}

#chat { 
  width: 30%;
  height: 30%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
}

#chat .messageList { 
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#chat .messageInput { 
  left: 0px;
  width: 80%;
}

#chat .sendBtn { 
  width: 15%;
}